body {
    background-color: gainsboro;
}

main {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {

    display: inline-block;
    overflow: visible;
    list-style-type: none;
}

ul li {
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.progress-bar {
    color: black;
}

.btn {
    width: 100%;
}